<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Medical Diagnosis &amp; A Machine Learning based web application | Home</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="medilife-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">

        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="index.html"><img src="img/core-img/logobold.png" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="services.html">Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" ><i class="fas fa-user"></i></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/bgbg.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 98.25%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>Diabetes</b> is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.</h6>
                                <a href="http://127.0.0.1:5000/diabetes" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/bgbg.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that<br>You can Trust with the accuracy of 98.25%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>Breast cancer</b> is cancer that forms in the cells of the breasts.

                    After skin cancer, breast cancer is the most common cancer diagnosed in women in the United States. Breast cancer can occur in both men and women, but it's far more common in women.</h6>
                                <a href="http://127.0.0.1:5000/cancer" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/bgbg.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 96%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>Malaria </b> is a mosquito-borne infectious disease that affects humans and other animals. Malaria causes symptoms that typically include fever, tiredness, vomiting, and headaches. In severe cases it can cause yellow skin, seizures, coma, or death. Symptoms usually begin ten to fifteen days after being bitten by an infected mosquito. If not properly treated, people may have recurrences of the disease months later</h6>
                                <a href="http://127.0.0.1:5000/malaria" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/bgbg.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 78%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms">Symptoms of <b>liver disease</b> can vary, but they often include swelling of the abdomen and legs, bruising easily, changes in the color of your stool and urine, and jaundice, or yellowing of the skin and eyes. Sometimes there are no symptoms. Tests such as imaging tests and liver function tests can check for liver damage and help to diagnose liver diseases.</h6>
                                <a href="http://127.0.0.1:5000/liver" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(img/bg-img/bgbg.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">Predictor that <br>You can Trust with the accuracy of 95%</h2>
                                <h6 data-animation="fadeInUp" data-delay="400ms"><b>Pneumonia</b> is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.</h6>
                                <a href="http://127.0.0.1:5000/pneumonia" class="btn medilife-btn mt-50" data-animation="fadeInUp" data-delay="700ms">Discover Predictor <span>+</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- Single Hero Slide -->
            
        </div>
    </section>
<br>
    <!-- ***** About Us Area Start ***** -->
    <center><p><h1>Features of our ML Web Page</h1></p></center>
    <br><section class="medica-about-us-area section-padding-100-20">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="medica-about-content">
                        <h2>We always try to add more and more diseases</h2>
                       
                        <a href="http://127.0.0.1:5000" class="btn medilife-btn mt-50">HealthCheck+<span>+</span></a>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-doctor"></i>
                                </div>
                                <div class="service-content">
                                    <h5>The Best Prediction </h5>
                                  
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-blood-donation-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Simple UX/UI</h5>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-flask-2"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Details of various diseases</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-service-area d-flex">
                                <div class="service-icon">
                                    <i class="icon-emergency-call-1"></i>
                                </div>
                                <div class="service-content">
                                    <h5>Our Data Sources</h5>
                                     </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
    <section class="medilife-cool-facts-area section-padding-100-0">
        <div class="container">
            <center>
                <p><h2>Accuracy with Algorithm used</h2></p>
            </center>
            <br>
            <div class="row">
                <!-- Top Row: 3 Items -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-cool-fact-area text-center mb-100">
                        <i class="icon-blood-transfusion-2"></i>
                        <h4>Diabetes Machine Learning Model</h4>
                        <h2><span class="counter">98.25</span>%</h2>
                        <h6>Random Forest Classifier</h6>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-cool-fact-area text-center mb-100">
                        <i class="icon-atoms"></i>
                        <h4>Breast Cancer Machine Learning Model</h4>
                        <h2><span class="counter">98.25</span>%</h2>
                        <h6>Random Forest Classifier</h6>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-cool-fact-area text-center mb-100">
                        <i class="icon-atoms"></i>
                        <h4>Liver Disease Machine Learning Model</h4>
                        <h2><span class="counter">78</span>%</h2>
                        <h6>Random Forest Classifier</h6>
                    </div>
                </div>
                <!-- Bottom Row: 2 Items Centered -->
                <div class="col-12 col-sm-6 col-lg-4 offset-lg-2">
                    <div class="single-cool-fact-area text-center mb-100">
                        <i class="icon-microscope"></i>
                        <h4>Malaria Deep Learning Model</h4>
                        <h2><span class="counter">96</span>%</h2>
                        <h6>CNN</h6>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-cool-fact-area text-center mb-200">
                        <i class="icon-blood-transfusion-2"></i>
                        <h4 class="no-wrap">Pneumonia Deep Learning Model</h4>
                        <h2><span class="counter">95</span>%</h2>
                        <h6>CNN</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    


    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>
